<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>送件機器人失敗通知</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; color: #333;">
	<p>送件機器人失敗，請重新處理，資訊如下：</p>
	<ul>
		{{#each ticketSubmissions}}
			<li><strong>[{{@index}}] 罰單編號：</strong>{{this.ticketNo}}</li>
		{{/each}}
	</ul>
</div>
</body>
</html>
