# app
PORT=3000
LOG_LEVEL=info
# 付款用，後端的 domain url
BACKEND_URL=
# 付款完成導頁用，前端的 domain url
FRONTEND_URL=
# 系統通知用，收到的 email，測試機用
SYSTEM_RECEIVER=test@gmail.com
# BCC 通知用，收到的 email
BCC_RECEIVER=test@gmail.com
# task 定時任務
## 測試=false，正式=true
ENABLE_TASK=true

# user
## 重設密碼連結
USER_RESET_PASSWORD_URL=/reset-password
## 驗證碼過期時間
USER_CACHE_EXPIRES_DAYS=7
## 驗證碼過期時間
USER_VERIFY_CODE_EXPIRES_MINUTES=10
# upload
## 上傳圖片限制大小
UPLOAD_IMAGE_LIMIT_MB=10
## 上傳影片限制大小
UPLOAD_VIDEO_LIMIT_MB=100
# redis
REDIS_HOST=localhost
REDIS_PORT=6379
# database
DATABASE_DIALECT=postgres
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=ticket-appeal
## 是否啟用 database log 記錄，測試機用
DATABASE_LOGGING=false
# auth
## jwt 加密用 secret
JWT_SECRET=
## jwt 過期時間
JWT_EXPIRES_IN=7d
# line
## line channel id 從 line 官方開發平台取得
LINE_CHANNEL_ID=
## line channel secret 從 line 官方開發平台取得
LINE_CHANNEL_SECRET=
## 以下是固定的，不用改
LINE_CALLBACK_URI=/auth/line/callback
LINE_AUTH_URL=https://access.line.me/oauth2/v2.1/authorize
LINE_TOKEN_URL=https://api.line.me/oauth2/v2.1/token
LINE_VERIFY_URL=https://api.line.me/oauth2/v2.1/verify
# s3 storage 存圖片影片檔案用，linode object storage 平台可取得
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=https://jp-osa-1.linodeobjects.com
S3_REGION=
S3_BUCKET=
# mailgun 寄信
MAIL_HOST=smtp.mailgun.org
## 寄件人名稱可以改，email 不能改
MAIL_FROM='"name" <noreply@ticket.lawplayer.com>'
MAIL_USERNAME=
MAIL_PASSWORD=
# newebpay payment 藍新金流，可從藍新後台取得
NEWEBPAY_HASH_KEY=
NEWEBPAY_HASH_IV=
NEWEBPAY_MERCHANT_ID=
NEWEBPAY_VERSION=2.0
NEWEBPAY_URL=https://ccore.newebpay.com/MPG/mpg_gateway
## 先用後端api去給藍新做 webhook，付款成功時會call我們後端api，會在他們後檯設定，我們接到資料根據訂單號碼去查詢罰單DB原始資料，再根據付款狀態返回成功/失敗
## 付款完成後的通知頁面
NEWEBPAY_NOTIFY_URI=/order/payment/newebpay/notify
NEWEBPAY_RETURN_URI=/order/payment/newebpay/return
# aftee payment AFTEE 金流，可從 AFTEE 後台取得
AFTEE_SHOP_PUBLIC_KEY=
AFTEE_SHOP_SECRET_KEY=
AFTEE_PRE_REGISTER_URL=
AFTEE_PAYMENT_URL=
AFTEE_UPDATE_URL=
## 付款成功返回 api
AFTEE_RETURN_URI=/order/payment/aftee/return
# ezpay invoice 發票金流，可從 ezpay 後台取得
EZPAY_URI=https://cinv.ezpay.com.tw/Api/invoice_issue
EZPAY_HASH_KEY=
EZPAY_HASH_IV=
EZPAY_MERCHANT_ID=
# google vision 辨識圖片
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
# openai AI 文字辨識
OPENAI_API_KEY=
# super8
SUPER8_USERNAME=
SUPER8_PASSWORD=
SUPER8_ORG_ID=